.home-container{
    width: auto;
    padding-top: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.home-container img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
}
.home-container h1{
    text-align: center;
    width: 65%;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
}

.home-container h1 span{
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-container p{
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    font-weight: 500;
}
.hero-action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-weight: 500;
    margin-bottom: 50px;
    width: 50%;
}
@media screen and (max-width:600px) {
    .hero-action{
        display: flex;
        flex-direction: column;
    }
}

.hero-connect{
    width: 200px;
    padding: 20px 30px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.hero-connect:hover{
    transform: scale(1.05);
    border: 2px solid #fff;
}
.hero-action div a{
    text-decoration: none;
    color: #fff;
}
.hero-resume{
    border: 2px solid #fff;
    width: 200px;
    padding: 20px 30px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.hero-resume:hover{
    transform: scale(1.05);
    border: 2px solid #B415FF;
}
@media (max-width:768px) {
    .home-container img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    } 
    .home-container h1{
        text-align: center;
        width: 90%;
        font-size: 40px;
        font-weight: 600;
        line-height: 70px;
    }
    .home-container p{
        width: 80%;
    }
}

@media screen and (max-width:600px) {
    .home-container h1{
        font-size: 35px;
    }
    .home-container p{
        font-size: 15px ;
    }
}